$header-height: 66px;
$primary-color: #13C1AC;
$spacing: 16px;

.header {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: $primary-color;
  min-width: 500px;

  .header-container {
    height: $header-height;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo_name {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        margin-left: $spacing;
        margin-bottom: 0;
      }
    }
  }

  .fav-button {
    border: 1px solid #fff;
    color: #fff;
  }
}




