<nav class="header">
  <div class="container header-container">
    <div class="logo_name">
        <img style="fill:white;" src="/assets/cloud.svg" width="38" />
        <h1 class="text-white">Wallapop</h1>
    </div>
    <div class="btn d-flex flex-column align-items-center fav-button" (click)="openModal('favourites')">
      <i class="fa fa-heart" style="color:inherit;"></i>
      <h3 style="margin-bottom: 0; color: inherit;">My favourites ({{(favouriteProducts | async).length}})</h3>
    </div>
  </div>
</nav>
