@import '../../../sass/variables';

.isFavourite path {
  fill: #FD6C67;
}

.addFavourite path {
  fill: #fff;
}

.product-container {
  padding: $spacing;

  .product-image-container {
    width: 200px;
    height: 200px;
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: center;

    .productImage {
      max-width: 100%;
      max-height: 100%;
      width: auto;
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }

  .card-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0;
  }

  .product-body{

  }

  .product-footer {
    padding-top: $spacing;
  }
}



