<div class="card mb-12 bg-transparent">
  <div class="row no-gutters product-container">
    <div class="product-image-container col-md-12 col-lg-2">
      <img [src]="product.image" class="card-img productImage" alt="Image of the product" title="Product Image">
    </div>
    <div class=" col-12 col-sm-12 col-lg-10">
      <div class="card-body">
        <div class="product-body">
          <div class="product-header" style="display: flex; justify-content: space-between;">
            <h3 class="card-title font-weight-bold" [title]="product.title">{{product.title}}</h3>
            <a [routerLink]="" (click)="onClickAddRemoveFavourites(product)"
               title="{{isFavourite ? 'Remove  this product from your favourites' : 'Add this product to your favourites' }}">
              <svg [ngClass]="{'addFavourite': !isFavourite, 'isFavourite': isFavourite }"
                   xmlns="http://www.w3.org/2000/svg"
                   width="25" height="23" viewBox="0 0 24 24">
                <path
                  stroke="#D45B57"
                  stroke-width="1.5"
                  d="M12 4.435c-1.989-5.399-12-4.597-12 3.568 0 4.068 3.06 9.481 12 14.997 8.94-5.516 12-10.929 12-14.997 0-8.118-10-8.999-12-3.568z"/>
              </svg>
            </a>
          </div>
          <div class="card-text" [title]="product.description">{{product.description}}</div>
        </div>
        <div class="row no-gutters product-footer">
          <div class="col-6 no-gutters">
            <span class="card-text">
              <h4 class="text-muted font-weight-bold">
                {{product.price | currency:'EUR':'symbol'}}
              </h4>
            </span>
          </div>
          <div class="col-6 text-right">
            <span class="card-text"><small class="text-muted">{{product.email}}</small></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
