@import '../../../sass/variables';

app-favourite-element:nth-of-type(odd) {
  background-color:rgba(0,0,0,.05);
}

app-favourite-element {
  width: 100%;
  margin-bottom: $spacing;
}

.favourite-container.list{
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
  margin-top: 12px;
}

.no-items-message {
  display: flex;
  justify-content: center;
  margin-top: $spacing;
}
