<app-search-bar (filter)="filterFavList($event)" [isFavModal]="true"></app-search-bar>

<div class="favourite-container col-xl-12 container list" style="margin-top:12px;" *ngIf="(favouriteProducts | async).length > 0; else elseBlock">
  <app-favourite-element
    *ngFor="let product of filteredProducts"
    [product]="product">
  </app-favourite-element>
</div>
<ng-template #elseBlock>
  <div class="col-lg-12 no-items-message d-flex flex-column align-items-center" >
    <h2>
      Oops, looks like you don't have any favourite item yet.
    </h2>
    <h3>
      Try adding a new item to see it
      here.
    </h3>
  </div>
</ng-template>

