.isFavourite path {
  fill: #FD6C67;
}

.addFavourite path {
  fill: #fff;
}

.product-image-container {
  width: 200px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;

  .productImage {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    display: inline-block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
  }
}

.favourite-title {
  margin-bottom: 0;
}

