<div class="input-group" style="padding-top: 12px">
  <div class="col-lg-8 input-group filter-option" [ngClass]="isFavModal ? 'col-lg-12' : 'col-lg-8'">
    <div class="input-group-prepend">
      <span class="input-group-text"><i class="fa fa-search"></i></span>
    </div>
    <input (keydown.enter)="searchItems()"  [(ngModel)]="searchTerm" class="form-control search-input" type="text" placeholder="Search your product..."/>
    <div class="input-group-append">
      <button (click)="searchItems()" class="btn btn-outline-secondary input-group-text search-button" type="button">Search</button>
    </div>
  </div>

  <div class="col-lg-4 input-group filter-option sort-container" *ngIf="!isFavModal">
    <div class="input-group-prepend">
      <span class="input-group-text" id="basic-addon1">Sort by</span>
    </div>
    <select (change)="sortProductList()" [(ngModel)]="sortBy" class="custom-select sort-select" id="input-sort">
      <option value="title">Title</option>
      <option value="description">Description</option>
      <option value="price">Price</option>
      <option value="email">Email</option>
    </select>
  </div>
</div>
