@import '../../../sass/variables';

.product_list-container{
  margin-top: $header-height;

  .products-container > app-product-element:nth-of-type(odd) {
    background-color:rgba(0,0,0,.05);
  }

  app-product-element {
    width: 100%;
    margin-bottom: 12px;
  }

  .products-container.list{
    display: flex;
    max-width: 1200px;
    flex-wrap: wrap;
    margin-top: 12px;
  }
}

.loading-container {
  display: flex;
  margin-top: calc(66px + 20px);
  align-items: center;
  flex-direction: column;
}

