<div class="loading-container" *ngIf="isLoading; else: listBlock">
    <i class="fa fa-spinner fa-pulse fa-5x"></i>
    <h3 style="margin-top:10px">Loading your products...</h3>
</div>

<ng-template #listBlock>
  <div class="product_list-container">
    <app-search-bar (filter)="filterProductList($event)" (sort)="sortProductList($event)"></app-search-bar>
    <div class="products-container col-xl-12 container list">
      <app-product-element
        *ngFor="let product of paginatedProducts"
        [product]="product">
      </app-product-element>
    </div>

    <div class="row">
      <div class="col-lg-8 col-md-10 ml-auto mr-auto d-flex justify-content-center">
        <app-pagination
          [activePage]="activePage"
          [totalRecords]="filteredProducts.length"
          [recordsPerPage]="5"
          (onPageChange)="displayActivePage($event)">
        </app-pagination>
      </div>
    </div>
  </div>
</ng-template>

<app-favourite-modal></app-favourite-modal>
