<jw-modal id="favourites">
  <div class="d-flex justify-content-between">
    <h2>These are your favourites products</h2>
    <i
      class="fa fa-times fa-2x"
      style="cursor: pointer;"
      (click)="closeModal('favourites');"
      title="Close favourites list"
    ></i>
  </div>
  <app-favourite-list></app-favourite-list>
</jw-modal>
