<nav class="paginator-container" aria-label="page navigation">
  <ul class="pagination">
    <li class="page-item previous" title="Go to previous page"  [ngClass]="{'disabled': activePage == 1}" (click)="onClickPage(activePage - 1)"><a class="page-link" href="javascript:void(0);">Previous</a></li>
    <li class="page-item" [title]="'Go to page number ' + item" [ngClass]="{'active': activePage === item}" *ngFor="let item of pages" (click)="onClickPage(item)"><a class="page-link" href="javascript:void(0);">{{item}}</a></li>
    <li class="page-item next" title="Go to next page" [ngClass]="{'disabled': activePage == pages.length}" (click)="onClickPage(activePage + 1)"><a class="page-link" href="javascript:void(0);">Next</a></li>
  </ul>
</nav>
